section.input {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.form-control input {
  width: 100%;
  padding: 0.75rem 1.25rem;
  border: 1px solid #ccc;
  border-radius: 100vmax;
  font-size: 1.125rem;
}

.btn-post {
  margin-top: 1rem;
  width: 175px;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  color: #ffffff;
  background-color: var(--accent-color-blue);

  border: none;
  border-radius: 100vmax;
  cursor: pointer;
}

.btn-post:active {
  transform: scale(0.98);
}
