.container {
  display: flex;
  align-items: center;
  width: 95%;
  max-width: 1300px;
  min-height: 100vh;
  margin: auto;
  background: var(--auth-background-color);
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.description {
  grid-column: span 6;
}

.description h1 {
  color: var(--accent-color-blue);
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.75rem;
  text-align: start;
}

div.input {
  grid-column: 8 / 12;
  width: 100%;
  padding: .5rem 1rem;
  background: #ffffff;

  border-radius: 8px;
  box-shadow: 0px 0px 2px 2px #ccc;
}
.input legend {
  font-size: 2rem;
  margin: 1.5rem 0 2rem 0;
  line-height: 1.5rem;
}

.input .error-text {
  color: red;
}

.input .form-group {
  margin: 1rem 0;
}

.input label {
  display: none;
}

.input input {
  padding-left: 1ch;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  line-height: 2.5rem;
}

.input button {
  font-size: 1.2rem;
  width: 100%;
  line-height: 2.5rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  background: var(--accent-color-green);
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input button:active {
  transform: scale(.98);
}

.login-text {
  font-weight: lighter;
}

.login-text span {
  margin-left: 1ch;
}

@media (max-width: 768px) {
  .description {
    grid-column: 2 / -1;
    margin-bottom: 2rem;
  }
  div.input {
    grid-column: 2 / 12;
  }
}